:root {
  --container-side-padding: 50px;
  
  @media (max-width: 992px) {
    --container-side-padding: 30px;
  }
  @media (max-width: 768px) {
    --container-side-padding: 20px;
  }
  @media (max-width: 576px) {
    --container-side-padding: 15px;
  }
  @media (max-width: 375px) {
    --container-side-padding: 10px;
  }
}



// vars------------------
$maxWidth: 1440;
$minWidth: 360;
$maxWidthContainer: $maxWidth;
// vars------------------
